matlab/hs_err_pid28308.log
*.autosave
*.autosave
matlab/penddemo.slx.autosave
*.r2012a
matlab/Pend_Simscape/Pend_Simscape_Closedloop.avi
matlab/Pend_Simscape/Pend_Simscape_Openloop-expending.avi
matlab/Pend_Simscape/Pend_Simscape_Openloop-tight.avi
*.pyc
*.swp
python/neat-python/.svn/
python/neat-python/build/
python/neat-python/examples/pole_balancing/single_pole/checkpoint_393
checkpoint_*
*.o
c/anderson/pole_neuralnet_demo.tar/poledemo/demo-net
c/anderson/pole_neuralnet_demo.tar/poledemo/demo-net
*.class
*.o
*.asv
